img {
  box-sizing: border-box;
}

body {
  background-color: #fdfdfd;
}

.fixedHeaderContainer {
  background: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

/* BEGIN: Increase top bar height. */

.fixedHeaderContainer a,
.navigationSlider {
  height: 44px;
}

.navigationSlider {
  display: flex;
  align-items: center;
}

.anchor {
  top: -160px;
}

@media only screen and (min-width: 1024px) {
  .navigationSlider .slidingNav ul li {
    margin-left: .5em;
  }

  .navigationSlider .slidingNav ul li a {
    border-radius: .25em;
  }

  .navPusher {
    min-height: calc(100vh - 60px);
    padding-top: 60px;
  }

  .docsNavContainer {
    height: calc(100vh - 60px);
    top: 60px;
  }

  .anchor {
    top: -80px;
  }
}

/* END */

.fixedHeaderContainer header img {
  padding: 9.5px;
}

.navigationSlider .slidingNav ul li a {
  color: #676767;
  transition: background-color 0s;
}

.navigationSlider .slidingNav ul li a:focus,
.navigationSlider .slidingNav ul li a:hover {
  color: white;
}

.navigationSlider .slidingNav ul li:first-child {
  opacity: .7;
}

.navigationSlider .slidingNav ul li:first-child:hover,
.navigationSlider .slidingNav ul li:first-child:focus {
  opacity: 1;
}

code {
  background-color: #F0F7FF;
}

.toc .toggleNav .navGroup ul li.navListItemActive {
  font-weight: bold;
  padding-left: 6px;
  border-left: 2px solid #5AA5FF;
  margin-left: -8px;
}

.toc .toggleNav .navGroup ul li:not(.navListItemActive) a:hover {
    color: #393939;
}

.docs-prevnext {
    margin-top: 4em;
}

footer.nav-footer {
  background-color: #1a1a1a;
  padding-top: 5em;
  padding-bottom: 3em;
}

footer.nav-footer a {
  color: inherit;
}

footer .sitemap  {
  padding-bottom: 2em;
  border-bottom: solid 1px #767676;
}

.contracts .contract-index {
  max-width: 500px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.contracts .contract-index .contract-index-title {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 0.7em;
  margin-bottom: 10px;
  color: gray;
}

.contracts .contract-index > ul {
  background-color: #fafafa;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  list-style: none;
}

.contracts .contract-index .inherited {
  opacity: .5;
}

.contracts .contract-index code {
  background-color: transparent;
  padding: 0;
}

.contracts .contract-index code a {
  color: black;
}

.contracts h2 {
  text-transform: uppercase;
  font-size: .9em;
  margin-top: 3em;
  color: gray;
}

.contracts h3 {
  font-size: 2em;
}

.contracts h3 code {
  background-color: transparent;
  padding: 0;
}

.contracts h2 + h3 {
  margin-top: 0;
}

.contracts h4 {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: .4em;
  font-size: 1.1em;
  margin-top: 3em;
}

.contracts h4 code {
  background-color: transparent;
  padding: 0;
}


.toc-headings .toc-headings {
    padding-left: 0;
}

.function-signature .return-arrow,
.function-signature .return-type {
  opacity: 0.75;
}

.function-visibility {
  font-size: 0.9rem;
  font-weight: normal;
  float: right;
  color: #c0c0c0;
}
